<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>username</td>
            <td>password</td>
            
            
         </thead>
         
         {% for row in rows1 %}
            <tr>
               <td>{{row["ID"]}}</td>
               <td>{{row["username"]}}</td>
               <td> {{row["password"]}}</td>
               
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>