{% extends 'base.html' %}

{% block header %}
<h1 class="display-4 text-center">{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">

  <form method="post" enctype="multipart/form-data" class="col-md-8">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" id="title" value="{{ request.form['title'] }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" class="form-control" id="description">{{ request.form['description'] }}</textarea>
    </div>
    <div class="form-control">
      <label for="file">File</label>
      <input type="file" class="form-control" name="file" id="file">
    </div>
    <div class="d-flex justify-content-between">
      <input type="submit" value="Save" class="btn btn-success btn-lg ">
      <a class="action" class="btn btn-info " href="{{ url_for('myfiles.index') }}">Back</a>
    </div>
  </form>
</div>
{% endblock %}