{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('myfiles.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}

          
          <a class="action" href="{{ url_for('myfiles.view', id=post['id']) }}">View</a>
          <a class="action" href="{{ url_for('myfiles.publicshare', id=post['id']) }}">Public Share</a>
          <a class="action" href="{{ url_for('myfiles.privateshare', id=post['id']) }}">Private Share</a>
          <a class="action" href="{{ url_for('myfiles.getfile', id=post['id']) }}">Download</a>
          <a class="action" href="{{ url_for('myfiles.update', id=post['id']) }}">Edit</a>
          <a class="action" href="{{ url_for('myfiles.delete', id=post['id']) }}">Delete</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
