{% extends 'base.html' %}

{% block header %}
<h1 class="display-4 text-center">{% block title %}Private Share{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <form method="post" enctype="multipart/form-data" class="col-md-7">
    <div class="form-group">
      <label for="email">Enter Email</label>
      <textarea name="email" class="form-control" id="email">{{ request.form['email'] }}</textarea>
    </div>
    <div class="d-flex justify-content-between">
      <input type="submit" value="Save" class="btn btn-success btn-lg ">
      <a class="action" class="btn btn-info " href="{{ url_for('myfiles.index') }}">Back</a>
    </div>
  </form>
</div>
{% endblock %}