{% extends 'base.html' %}

{% block header %}
<h1 class="display-4 text-center">{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="col-md-7">
    <form method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input name="title" id="title" class="form-control" value="{{ request.form['title'] or post['title'] }}"
          required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control"
          id="description">{{ request.form['description'] or post['description'] }}</textarea>
      </div>
      <input type="submit" value="Save" class="btn btn-success btn-lg text-center">
    </form>
    <hr>
    <form action="{{ url_for('myfiles.delete', id=post['id']) }}" method="post">
      <div class="d-flex justify-content-between">
        <input class="danger" type="submit" class="btn btn-danger btn-lg" value="Delete"
          onclick="return confirm('Are you sure?');">
        <a class="action" class="btn btn-info" href="{{ url_for('myfiles.index') }}">Back</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}